
<div class="container">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse1" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<!-- Swiper Silder
  ================================================== --> 
  <!-- Slider main container -->
  <div class="swiper-container main-slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide slider-bg-position" style="background:url('https://jaceycuartas.files.wordpress.com/2014/10/cropped-massive-b-horror-collage-wallpaper-horror-movies-29491579-2560-1600.jpg')" >
      </div>
    </div></div>
<!-- Benefits
  ================================================== -->
  <section class="service-sec" id="benefits">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">
            <h3><h1>Beneficios</h1>To enjoy the glow of good , while watching movie</h3>
          </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
              <h3>Awareness</h3>
              <p>There are movies made on social issues which are very much pertinent to our society. Movies on matters such as dowry, caste system, honour killing and socio economic divide often help create the needed awareness about the issues. They arouse the long gone conscience in people when they see individuals going through such difficult situations even if it is on screen. So yes, movies help and work in delivering important messages to the society.
                ×</p>
              </div>
              <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-heart" aria-hidden="true"></i>
                <h3> HangOut For Couples</h3>
                <p>Perhaps you held your girlfriend’s hand in public when you went to see a movie with her. Perhaps it was also the first time you kissed her; it all happens in the movie hall for so many couples. It is the place where you are not judged for going out together; or you are not looked at with skepticism more so in places like India.  If it weren’t for movies; we wouldn’t have the theaters which are hangout havens; if I may say so; for the younger generation in love. </p>
              </div>
              <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-leaf" aria-hidden="true"></i>
                <h3>Stress Buster</h3>
                <p>Among the foremost benefits of watching movies, one has to be its role as a stress buster. You don’t need a shrink to tell you to go watch your favourite movies or the latest releases. You know it as well as anybody else what a good movie outing with friends or just one in the comforts of your home can prove to be. Whatever the genre, as long as you enjoy it a movie elevates your senses and refreshes you for a fresh dose of reality.</p>
              </div>
              <div class="col-md-6 text-sm-center service-block"> <i class="fa fa-bell" aria-hidden="true"></i>
                <h3>Inspiration</h3>
                <p>One of the prime benefits of watching movies is that it inspires you. Biopic and movies on historical figures often give you a glimpse into the simple truths of life. You get to see through your own eyes the transformation of ordinary men and women into heroes in times of needs and somewhere it motivates you to look at life in a different perspective. Yes, you realize a regular people like you and I too are capable of great things in life.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4"> <img src="https://i.pinimg.com/236x/09/3d/e7/093de700c32035ab2812a6b5fbab110a--original-movie-posters-film-posters.jpg" class="img-fluid" /> </div>
        </div>
        <!-- /.row --> 
      </div>
    </section>
<!-- About 
  ================================================== -->
  <section class="about-sec parallax-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h2><small>Who We Are</small>About<br>
            Our Blog</h2>
          </div>
          <div class="col-md-4">
            <p>It starts so young, and I'm angry about that. The garbage we're taught. About love, about what's "romantic..</p>
            <p>Look at so many of the so-called romantic figures in books and movies. Do we ever stop and think how many of them would cause serious and drastic unhappiness after The End.
              Your time is so valuable, and look at these guys--depressive and moody and violent and immature and self-centered. And what about the big daddy of them 
            </p>
          </div>
          <div class="col-md-4">
            <p>Why are sick and dangerous personality types so often shown a passionate and tragic and something to be longed for when those are the very ones you should run for your life from? Think about it. Heathcliff. Romeo. Don Juan. Jay Gatsby.</p>
            <p>Rochester. Mr. Darcy. From the rigid control freak in The Sound of Music to all the bad boys some woman goes running to the airport to catch in the last minute of every romantic comedy. She should let him leave.</p>
            <p><a href="#" class="btn btn-transparent-white btn-capsul">Explore More</a></p>
          </div>
        </div>
      </div>
    </section>

    <section class="action-sec">
      <div class="container">
        <div class="action-box text-center"><h2>GET INTO THE WORLD OF MOVIE </h2><a class="btn btn-success" href="https://in.bookmyshow.com/varanasi/" target="_blank">Movie Zone</a>
         <app-movie-search (termData)="handleTermData($event)"></app-movie-search>
         <app-movie-list   [user]="movie"></app-movie-list>
       </div>

     </div>
   </section>







